<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
     <!-- <rewrite>
            <rules>
                <rule name="HTTPS force" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite> -->
        <handlers>
            <add name="PythonHttpPlatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform
            processPath="C:\lib\Python\Python310\python.exe"
            arguments="uvicorn main:app --host 127.0.0.1 --port 5000 --reload"
            stdoutLogEnabled="true"
            stdoutLogFile="E:\websites\FastApiTest\logs\python-stdout"
            requestTimeout="00:05:00"
            startupTimeLimit="120"
            startupRetryCount="3">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>