<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
    <httpPlatform processPath="C:\lib\Python\Python310\python.exe"
    arguments="main.py"
    stdoutLogEnabled="true"
    stdoutLogFile="C:\inetpub\wwwroot\FastApiTest\logs\python-stdout"
    startupTimeLimit="120"
    startupRetryCount="3"
    processesPerApplication="16">
    <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\FastApiTest" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
    </environmentVariables>
    </httpPlatform>
        <rewrite>
            <rules>
                <clear></clear>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions trackAllCaptures="true" />
                    <action type="Rewrite" url="http://127.0.0.1:5000/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="HTTP_ACCEPT_ENCODING" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>                    
                </rule>
            </rules>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsTextHtml" stopProcessing="false">
                    <match filterByTags="None" pattern="^http(s)?://127.0.0.1:5000/(.*)" />
                    <action type="Rewrite" value="http{R:1}://172.173.233.167/FastApiTest/{R:2}" />
                </rule>
                <rule name="RestoreAcceptEncoding" preCondition="NeedsRestoringAcceptEncoding">
                    <match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
                    <action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
                </rule>
                <rule name="CustomAnchorHref" preCondition="ResponseIsTextAnything">
                    <match pattern="href=(.*?)http://127.0.0.1:5000/(.*?)\s" />
                    <action type="Rewrite" value="href={R:1}http://172.173.233.167/FastApiTest/{R:2} " />
                </rule>
                <rule name="CustomFormAction" preCondition="ResponseIsTextAnything">
                    <match pattern="action=(.*?)http://127.0.0.1:5000/(.*?)\\" />
                    <action type="Rewrite" value="action={R:1}http://172.173.233.167/FastApiTest/{R:2}\" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsTextHtml">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                    <preCondition name="ResponseIsTextAnything">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(.+)" />
                    </preCondition>
                    <preCondition name="NeedsRestoringAcceptEncoding">
                        <add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".*" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
